html {
    --lightGray: #cfcfcf;
    --fellEnglish:"Im Fell English";
  }


.img {
    align: left;
    display: block;
    min-width: 20px;
    width: 300px;
    border-radius: 5%;
    border: solid 1px #4b4b4b;
  }

  h1 {
    color: var(--lightGray);
    font-size: 22px;
    margin-left: 33px;
  }

  h2 {
    color: var(--lightGray);
    font-size: 18px;
  }

  .blurb {
    color: var(--lightGray);
    text-indent: 28px;
    font-family: var(--fellEnglish);
    font-weight:700;
    margin-left: 5px;
    margin-right: 14px;
  }

  ul {
    line-height:22px;
    font-family: var(--fellEnglish);
    font-weight:700;
  }

  ol {
    line-height:22px;
    font-family: var(--fellEnglish);
    font-weight:700;

  }

  .ingredient {
    text-indent: 28px;
    font-family: var(--fellEnglish);
  }

  .ingredient:link {
    text-decoration: none;
    color: var(--lightGray);
  }
  
  .ingredient:visited {
    text-decoration: none;
    color: var(--lightGray);
  }
