@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

html {
    color: #cfcfcf;
    font-family: "Im Fell English";
    background-image: url('./images/food.jpg');
    background-size: 1400px 1400px
  }

  
  html::-webkit-scrollbar {
    display: none;
  }

  .pageBody {
    display: block;
    width: 50%;
    margin: 0 auto;
    min-height: 60%;
    min-width: 336px;
    max-width: 800px;
    top:0;
    background-color: rgba(0, 0, 0, 0.89);
    border: solid 1px #252525;
  }

  .pastaImg {
    align: left;
    display: block;
    min-width: 20px;
    width: 300px;
    border-radius: 5%;
    border: solid 1px #4b4b4b;
  }

  .text {
    align:left;
   // display: inline-block;
    margin: 5% 2% 10% 5%;
  }
  
  h1 {
    color: #cfcfcf;
    font-size: 22px;
    margin-left: 33px;
  }

  h2 {
    color: #cfcfcf;
    font-size: 18px;
  }

  .blurb {
    color: #cfcfcf;
    text-indent: 28px;
    font-family: "Im Fell English";
    font-weight:700;
    margin-left: 5px;
    margin-right: 14px;
  }

  ul {
    line-height:22px;
    font-family: "Im Fell English";
    font-weight:700;
  }
  
  /* background image attribution */

 .bottom {
    bottom: 0;
    position: absolute;
    width: 99%;
    
  }

  .attribution {
    bottom: 0px;
    display: flex;
    justify-content: center;
    height: 30px;
    line-height: 60px;
    font-size: 7px;
    color: #3f3f3f;
    text-decoration: none;
    font-family: impact;
  }

  a {
    font-family: impact;
  }

  a:link {
    text-decoration: none;
    color: #3f3f3f!important;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color: #3f3f3f!important;
    text-decoration: none;
  }
  