@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

body, html {
    position: relative;
    height: 100%;
    color: #cfcfcf;
    font-family: "Im Fell English";
  }

  

  .pageBody {
    margin: 5% 0% 5% 10%;
    justify: left;
    min-height: 60%;
    min-width: 60%;
    max-height: 95%;
    max-width: 80%;
    top:0;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.89);
    border: solid 1px #252525;
  }

  .text {
    margin: 5% 2% 10% 5%;
  }
  
  h1 {
      font-size: 22px;
  }

  
  /* Background scroll */

  .container {
    background: #222;
    height: 100%;
    margin: 0;
    overflow: auto;
    overflow: hidden;
    perspective: 1800px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .container:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .wrap {
    position: absolute;
    top: -60%;
    left: -10%;
    height: 300%;
    width: 200%;
    transform: rotateX(20deg) rotateY(40deg) rotateZ(-20deg);
    z-index: 5;
    margin: -5px -5px -5px -5px;
  }
  .pattern {
    background-size: 1300px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400%;
  
    animation: scroll linear 1200s infinite;
  }
  
  
  .pattern {
    background-image: url('./images/food.jpg');
  }
  
  @keyframes scroll {
    from   {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-4000px, 0, 0);
    }
  }