@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

html {
    color: #cfcfcf;
    font-family: "Im Fell English";
    background-image: url('./images/food.jpg');
    background-size: 1400px 1400px
  }

  
  html::-webkit-scrollbar {
    display: none;
  }

  /* background image attribution */
  .bottom {
    bottom: 0;
    position: absolute;
    width: 99%;    
  }

  #attribution {
    bottom: 0px;
    display: flex;
    justify-content: center;
    height: 30px;
    line-height: 40px;
    font-size: 9px;
    text-decoration: none;
  }

  .attributionLinks {
    color: #3f3f3f;
    text-decoration: none;
    font-family:impact;
  }

  .attributionLinks:link {
    text-decoration: none;
    color: #3f3f3f;
  }

  .attributionLinks:hover {
    text-decoration: underline;
  }

  .attributionLinks:visited {
    color: #3f3f3f;
    text-decoration: none;
  }
  /* the rest of the styling */

  .pageBody {
    display: block;
    width: 50%;
    margin: 0 auto;
    min-height: 60%;
    min-width: 336px;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.89);
    border: solid 1px #252525;
  }

  .text {
    align:left;
    margin: 5% 2% 10% 5%;
  }
  
  h1 {
    color: #cfcfcf;
    font-size: 22px;
  }

  .links {
    text-decoration: none;
    text-indent: 32px;
    font-family: "Im Fell English";
  }

  .links:link {
    text-decoration: none;
    color: #cfcfcf;
  }
  
  .links:hover {
  text-decoration: underline;

  }
  
  .links:visited {
    text-decoration: none;
    color: #cfcfcf;
  }
